@import "whitespace-reset.css"

html, body
  background: #99cc99

main
  width: 740px
  padding: 30px
  margin: 0 auto
  font: normal 18px Helvetica, Arial, sans-serif
  color: #242424
  background: #ffffff
  box-shadow: 0 0 3px rgba(0, 0, 0, .4)

h1
  padding: 0 0 20px 0
  font-size: 28px
h2
  padding: 20px 0 0 0
  font-size: 25px
h3
  padding: 20px 0 10px 0
  font-size: 20px

ul
  ul
    padding-left: 15px

a
  text-decoration: none
  color: #3399cc
