h1 Income
ul
  li
    a(href="/api/median_household_income_state.json") Median household income by state
  li
    a(href="/api/per_capita_income_state.json") Per capita income by state
  li
    a(href="/api/net_worth.json") Net worth, various categories
  li
    h2 Places
    ul
      li
        h3 Per Capita
        ul
          li
            a(href="/api/places/highest_per_capita.json") Highest
          li
            a(href="/api/places/min_1000_population_per_capita.json") Minimum population of 1,000
          li
            a(href="/api/places/min_1000_households_per_capita.json") Minimum households of 1,000
          li
            a(href="/api/places/min_50000_population_per_capita.json") Minimum population of 50,000
      li
        h3 Median Income
        ul
          li
            a(href="/api/places/median_over_200000.json") Income over $200,000
          li
            a(href="/api/places/min_10000_population_median.json") Minimum population of 10,000
          li
            a(href="/api/places/min_50000_population_median.json") Minimun population of 50,000
